@model MyShop.Northwind.MvcWebUI.Models.CompletedViewModel

@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Completed</h2>
<p>Dear <b>@Model.UserName</b>your order is completed.Your  order number:<b>@Model.OrderdetailId</b></p>
